<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
      <%= form_with(model: @users, url: user_update_approvals_superior_notice_path(@superior), local: true, method: :patch) do |f| %>
        <% @users.each do |user| %>
          <% if approval_superior_application_info(user, @superior) %>
            <h4>【<%= user.name %>からの1ヶ月分勤怠申請】</h4>
            <table class="table table-bordered table-striped approval-superior__table">
              <thead>
                <tr>
                  <th>月</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              
              <tbody>
                <% user.approvals.each do |day| %>
                  <%# その月の申請先idとお知らせを開いている上長のidが一致、且つステータスが申請中の場合 %>
                  <% if day.applied_approval_superior == @superior.id && day.approval_superior_confirmation == 2 %>
                    <%= f.fields_for "approvals[]", day do |approval| %>
                      <tr>
                        <td><%= l(day.applied_month, format: :month) %></td>
                        <td><%= approval.select :approval_superior_confirmation,
                                { "なし": 1, "申請中": 2, "承認": 3, "否認": 4 }, 
                                { selected: 2 }, class: "form-control", required: true %></td>
                        <td><%= approval.check_box :approval_superior_reflection, {}, "true", "false" %></td>
                        <td><%= link_to "確認", user_path(user), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
        <%= f.submit "変更を送信する", class: "btn btn-primary center-block" %>
      <% end %>
    </div>
  </div>
</div>