<% provide(:title, @user.name) %>
<div>
    <table class="table table-bordered table-condensed user-table">
        <tr>
            <td>
                <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
                <%= l(@first_day, format: :middle) %>　時間管理表
                <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
            </td>
            <td>指定勤務時間　<%= format_basic_info(@user.work_time) %></td>
            <td colspan="3">基本時間　<%= format_basic_info(@user.basic_time) %></td>
            <td>初日　<%= l(@first_day, format: :short) %></td>
        </tr>
        
        <tr>
            <td>所属　<%= @user.department.present? ? @user.department : "未所属" %></td>
            <td>氏名　<%= @user.name %></td>
            <td>コード</td>
            <td></td>
            <td>出勤日数　<%= @worked_sum %>日</td>
            <td>締め　<%= l(@last_day, format: :short) %></td>
        </tr>
    </table>
</div>
<div>
    <ul>
        <li><%= link_to "【所属長承認申請のお知らせ】", "#" %></li>
        <li><%= link_to "【勤怠変更申請のお知らせ】", "#" %></li>
        <% if current_user.superior? %>
            <li><%= link_to "【残業申請のお知らせ】", "#" %></li>
        <% end %>
    </ul>
</div>
<div class="btn-users-show">
    <div class="btn-group--requests">
        <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
        <%= link_to "CSV出力", "#", class: "btn btn-primary" %>
    </div>
    <div class="btn-group--requests">
        <%= link_to "勤怠修正ログ（承認済）", "#", class: "btn btn-primary" %>
    </div>
</div>
<div>
    <table class="table table-bordered table-condensed table-striped table-hover" id="table-attendances">
        <thead>
            <tr>
                <th rowspan="3">残業申請</th>
                <th rowspan="3">日付</th>
                <th rowspan="3">曜日</th>
                <th colspan="8">【実績】</th>
                <th colspan="5">所定外勤務</th>
            </tr>
            <tr>
                <th colspan="3">出社</th>
                <th colspan="3">退社</th>
                <th rowspan="2">在社時間</th>
                <th rowspan="2">備考</th>
                <th colspan="2">終了予定時間</th>
                <th rowspan="2">時間外時間</th>
                <th rowspan="2">業務処理内容</th>
                <th rowspan="2">指示者確認㊞</th>
            </tr>
            <tr>
                <th>時</th>
                <th>分</th>
                <th></th>
                <th>時</th>
                <th>分</th>
                <th></th>
                <th>時</th>
                <th>分</th>
            </tr>
        </thead>
        
        <tbody>
            <% @attendances.each do |day| %> 
                <tr>
                    <!--パスの引数でattendanceのidを渡す-->
                    <td><%= link_to "残業申請", attendances_edit_overwork_request_user_path(day), remote: true, class: "btn btn-primary" %></td>
                    <td><%= l(day.worked_on, format: :short) %></td>
                    <!--日曜日は赤-->
                    <% if day.worked_on.wday == 0 %>
                        <td>
                            <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></font>
                        </td>
                    <!--土曜日は青-->
                    <% elsif day.worked_on.wday == 6 %>
                        <td>
                            <font color="blue"><%= $days_of_the_week[day.worked_on.wday] %></font>
                        </td>
                    <!--月〜金曜日は黒-->
                    <% else %>
                        <td>
                            <%= $days_of_the_week[day.worked_on.wday] %>
                        </td>
                    <% end %>
                    <td><%= l(day.started_at, format: :hour) if day.started_at.present? %></td>
                    <td><%= l(day.started_at.floor_to(15.minute), format: :minute) if day.started_at.present? %></td>
                    <td>
                        <% if Date.current == day.worked_on && day.started_at.nil? %>
                            <%= link_to "出勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
                        <% end %>
                    </td>
                    <td><%= l(day.finished_at, format: :hour) if day.finished_at.present? %></td>
                    <td><%= l(day.finished_at.floor_to(15.minute), format: :minute) if day.finished_at.present? %></td>
                    <td>
                        <% if day.started_at.present? && day.finished_at.nil? %>
                            <%= link_to "退勤", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
                        <% end %>
                    </td>
                    <td>
                        <% if day.started_at.present? && day.finished_at.present? %>
                            <%= str_times = working_times(day.started_at, day.finished_at) %>
                            <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
                        <% end %>
                    </td>
                    <td><%= day.note %></td>
                    <td><%= l(day.finish_overwork, format: :hour) if day.finish_overwork.present? %></td>
                    <td><%= l(day.finish_overwork.floor_to(15.minute), format: :minute) if day.finish_overwork.present? %></td>
                    <td></td>
                    <td><%= day.work_contents %></td>
                    <td></td>
                </tr>
            <% end %>
        </tbody>
        
        <!--rowspan:縦結合 colspan:横結合-->
        <tfoot>
            <tr>
                <td rowspan="2"></td>
                <td rowspan="2", colspan="2"></td>
                <td rowspan="2", colspan="6"></td>
                <td rowspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
                <td rowspan="2", colspan="5"></td>
                <td>
                    <%= form_with(model: @user, local: true, ) do |f| %>
                        <div><%= f.label "所属長承認　未" %></div>
                        <div><%= f.select :name, [[]], class: "" %></div>
                        <div><%= f.submit "申請", class: "btn btn-primary" %></div>
                    <% end %>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-overwork-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overwork-notice" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
