<% provide(:title, "Attendance log") %>
<div>
  <h1>勤怠ログ</h1>
  
  <table class="table table-bordered table-striped attendance-log__table">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>指示者</th>
        <th>承認日</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.correction.date %></td>
          <td><%= l(attendance.correction.before_attendance_time, format: :time) if attendance.correction.before_attendance_time.present? %></td>
          <td><%= l(attendance.correction.before_leaving_time, format: :time) if attendance.correction.before_leaving_time.present? %></td>
          <td><%= l(attendance.correction.attendance_time, format: :time) if attendance.correction.attendance_time.present? %></td>
          <td><%= l(attendance.correction.leaving_time, format: :time) if attendance.correction.leaving_time.present? %></td>
          <td><%= superior_name(attendance.correction.instructor.to_i) %></td>
          <td><%= attendance.correction.approval_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

