<% provide(:title, "Attendance log") %>

<h1>勤怠ログ</h1>
<div class="form__select-box--position_relative">
  <%= button_to "キャンセル", attendances_attendance_log_user_path(@user), method: :get, class: "btn btn-secondary" %>
  <%= form_with(scope: :search, url: attendances_attendance_log_user_path(@user), method: :get, local: true) do |f| %>
    <%= f.submit "検索", class: "btn btn-primary" %>
    <%= f.date_select :date, { discard_day: true, prompt: "--" }, class: "form-control" %><br>
  <% end %>
</div>

<table class="table table-bordered table-striped table__th-td--center">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>
  <tbody>
    <% if @attendances.present? %>
      <% @attendances.each do |attendance| %>
        <tr>
          <td><%= attendance.correction.date %></td>
          <td><%= l(attendance.correction.before_attendance_time.floor_to(15.minute), format: :time) if attendance.correction.before_attendance_time.present? %></td>
          <td><%= l(attendance.correction.before_leaving_time.floor_to(15.minute), format: :time) if attendance.correction.before_leaving_time.present? %></td>
          <td><%= l(attendance.correction.attendance_time.floor_to(15.minute), format: :time) if attendance.correction.attendance_time.present? %></td>
          <td><%= l(attendance.correction.leaving_time.floor_to(15.minute), format: :time) if attendance.correction.leaving_time.present? %></td>
          <td><%= superior_name(attendance.correction.instructor.to_i) %></td>
          <td><%= attendance.correction.approval_date %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>