<% provide(:title, "Base infomation") %>
<h1>拠点一覧</h1>

<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th class="base-display__table--centered"><%= t(".number") %></th>
        <th class="base-display__table--centered"><%= t(".name") %></th>
        <th class="base-display__table--centered"><%= t(".attendance_type") %></th>
      </tr>
    </thead>
    <tbody>
      <% @bases.each do |base| %>
        <tr>
          <td>
            <div class="panel-group accordion--edit">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <a class="btn btn-primary" data-toggle="collapse" data-parent=".accordion--edit" href="#menu__accordion1" aria-expanded="false">
                    修正
                  </a>
                </div>
                <div id="menu__accordion1" class="panel-collapse collapse<%= @error %>">
                  <div class="panel-body">

                    <%= form_with(model: base, local: true) do |f| %>

                      <%= f.label t(".number"), class: "label-base--new" %>
                      <%= f.text_field :number, class: "form-control" %>

                      <%= f.label t(".name"), class: "label-base--new" %>
                      <%= f.text_field :name, class: "form-control" %>

                      <%= f.label t(".attendance_type"), class: "label-base--new" %>
                      <%= f.text_field :attendance_type, class: "form-control" %>

                      <%= f.submit "追加する", class: "btn btn-primary btn-base--new" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="base-display__table--centered"><%= link_to "削除", "#", class: "btn btn-primary" %></td>
          <td class="base-display__table--centered"><%= base.number %></td>
          <td class="base-display__table--centered"><%= base.name %></td>
          <td class="base-display__table--centered"><%= base.attendance_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="panel-group accordion--new">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a class="btn btn-lg btn-primary" data-toggle="collapse" data-parent=".accordion--new" href="#menu__accordion2" aria-expanded="false">
          拠点情報追加
        </a>
      </div>
      <div id="menu__accordion2" class="panel-collapse collapse">
        <div class="panel-body">

          <%= form_with(model: @base, local: true) do |f| %>

            <%= f.label t(".number"), class: "label-base--new" %>
            <%= f.text_field :number, class: "form-control" %>

            <%= f.label t(".name"), class: "label-base--new" %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label t(".attendance_type"), class: "label-base--new" %>
            <%= f.text_field :attendance_type, class: "form-control" %>

            <%= f.submit "追加する", class: "btn btn-primary btn-base--new" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>