<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <% @users.each do |user| %>
        <% if overwork_info(user) %>
          <h4>【<%= user.name %>の残業申請】</h4> <%# form_withのurlがへん %>
          <%= form_with(model: user, url: attendances_update_overwork_notice_user_path(user), local: true, method: :patch) do |f| %>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>日付</th>
                  <th>曜日</th>
                  <th>終了予定時間</th>
                  <th>時間外時間</th>
                  <th>業務処理内容</th>
                  <th>指示者確認㊞</th>
                  <th>変更</th>
                  <th>勤怠を確認する</th>
                </tr>
              </thead>
              
              <tbody>
                <% user.attendances.each do |attendance| %>
                  <%= f.fields_for :attendances do |day| %>
                    <% if attendance.instructor_confirmation.to_i == @superior.id %>
                      <tr>
                        <td><%= l(attendance.worked_on, format: :short) %></td>
                        <td><%= $days_of_the_week[attendance.worked_on.wday] %></td>
                        <td>
                          <%= overwork_times(user.desig_finish_worktime, attendance.finish_overwork,
                              attendance.next_day, attendance.worked_on) %>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>