<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4>【残業申請】</h4>
      <%= form_with(model: @user, url: attendances_update_overwork_request_user_path(@attendance), local: true, method: :patch) do |f| %>
        <table class="table table-bordered table-striped overwork-application__table">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>
          
          <tbody>
            <%= f.fields_for :attendances do |attendance| %>
              <tr>
                <td><%= l(@attendance.worked_on, format: :short) %></td>
                <!--日曜日は赤-->
                    <% if @attendance.worked_on.wday == 0 %>
                        <td>
                            <font color="red"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                        </td>
                    <!--土曜日は青-->
                    <% elsif @attendance.worked_on.wday == 6 %>
                        <td>
                            <font color="blue"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                        </td>
                    <!--月〜金曜日は黒-->
                    <% else %>
                        <td>
                            <%= $days_of_the_week[@attendance.worked_on.wday] %>
                        </td>
                    <% end %>
                <td>
                    <%= attendance.time_select :finish_overwork, 
                        default: { year: @attendance.worked_on.year, month: @attendance.worked_on.month, day: @attendance.worked_on.day }, 
                        minute_step: 15, class: "input-sm" %>
                </td>
                <td><%= attendance.check_box :next_day, {}, "true", "false" %></td>
                <td><%= attendance.text_field :work_contents, class: "form-control" %></td>
                <td>
                  <%= attendance.collection_select :applied_overwork, @superior, :id, :name, 
                      { include_blank: true }, class: "form-control", required: true %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>