<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <%= form_with(model: @users, url: update_change_notice_user_path(@superior), local: true, method: :patch) do |f| %>
        <% @users.each do |user| %>
          <% if change_attendance_application_info(user, @superior) %>
            <h4>【<%= user.name %>からの勤怠変更申請】</h4>
            <table class="table table-bordered table-striped change-attendances__table">
              <thead>
                <tr>
                  <th rowspan = 3>日付</th>
                  <th rowspan = 3>曜日</th>
                  <th colspan = 4>変更前</th>
                  <th colspan = 4>変更後</th>
                  <th rowspan = 3>備考</th>
                  <th rowspan = 3>指示者確認㊞</th>
                  <th rowspan = 3>変更</th>
                  <th rowspan = 3>勤怠を確認する</th>
                </tr>
                <tr>
                  <th colspan = 2>出社</th>
                  <th colspan = 2>退社</th>
                  <th colspan = 2>出社</th>
                  <th colspan = 2>退社</th>
                </tr>
                <tr>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                  <th>時</th>
                  <th>分</th>
                </tr>
              </thead>
              
              <tbody>
                <% user.attendances.each do |day| %>
                  <%= f.fields_for "attendances[]", day do |attendance| %> <!--左記のdayはブロック変数の|day|-->
                    <% if day.applied_attendances_change == @superior.id && day.change_attendances_confirmation == 2 %>
                      <tr>
                        <td><%= l(day.worked_on, format: :short) %></td>
                        <% if day.worked_on.wday == 0 %>
                          <td>
                            <font color="red"><%= $days_of_the_week[day.worked_on.wday] %></fond>
                          </td>
                        <% elsif day.worked_on.wday == 6 %>
                          <td>
                            <fond color="blue"><%= $days_of_the_week[day.worked_on.wday] %></fond>
                          </td>
                        <% else %>
                          <td>
                            <%= $days_of_the_week[day.worked_on.wday] %>
                          </td>
                        <% end %>
                        <td><%= l(day.started_at_before_change, format: :hour) if day.started_at_before_change.present? %></td>
                        <td><%= l(day.started_at_before_change.floor_to(15.minute), format: :minute)if day.started_at_before_change.present? %> </td>
                        <td><%= l(day.finished_at_before_change, format: :hour) if day.finished_at_before_change.present? %></td>
                        <td><%= l(day.finished_at_before_change.floor_to(15.minute), format: :minute) if day.finished_at_before_change.present? %></td>
                        <td><%= l(day.started_at, format: :hour) %></td>
                        <td><%= l(day.started_at.floor_to(15.minute), format: :minute) %></td>
                        <td><%= l(day.finished_at, format: :hour) %></td>
                        <td><%= l(day.finished_at.floor_to(15.minute), format: :minute) %></td>
                        <td><%= day.note %></td>
                        <td>
                            <%= attendance.select :change_attendances_confirmation,
                                { "なし(申請取り消し)": 1, "申請中": 2, "承認": 3, "否認": 4 },
                                { selected: 2 }, class: "form-control", required: true %>
                        </td>
                        <td><%= attendance.check_box :change_attendances_reflection, {}, "true", "false" %></td>
                        <td><%= link_to "確認", user_path(user), class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          <% end %>
        <% end %>
        <%= f.submit "変更を送信する", class: "btn btn-primary center-block" %>
      <% end %>
          
    </div>
  </div>
</div>