<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <h4>【残業申請】</h4>
      <%= form_with(model: @attendance, url: attendances_update_overwork_request_user_path(@attendance), local: true, method: :patch) do |f| %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務処理内容</th>
              <th>指示者確認㊞</th>
            </tr>
          </thead>
          
          <tbody>
            <%= f.fields_for :attenances do |attendance| %>
              <tr>
                <td><%= l(@attendance.worked_on, format: :short) %></td>
                <td><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
                <td><%= attendance.time_select :finish_overwork %></td>
                <td><%= attendance.check_box :next_day, {}, "true", "false" %></td>
                <td><%= attendance.text_field :work_content, class: "form-control" %></td>
                <td><%= attendance.text_field :instructor_confirmation, class: "form-control" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>